body{
    box-sizing: border-box;
    height: 100vh;
    overflow: hidden;
}

.jumbotron{
    padding: 1px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
    margin-left: 100px;
    margin: 0px 100px;
    
}

.jumbotron > h1{
color: #58f802;
}

.rectangle-container {
    background-color: #080808;
    box-sizing: border-box;
    display: flex;
    margin-bottom: 200px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 36px;
    justify-content: end;
}



.form-group {
    display: flex;
}

.form-control{
    margin-right: 5px;
    padding: 6px;
       
}

.btn-primary {
margin: 0 4px;
}

.modal-dialog{
    position: absolute;
    margin-left: 46%;
    margin-bottom: 4%;
}

.row {
    margin-top: -198px;
    margin-left: 89px;
    margin-right: 100px;
}

.col-md-12 {
    margin-top: -130px;
}

.container__lupa-img{
    border-radius: 30px;
    box-sizing: border-box;
    margin-left: 55px;
}

.text-alert{
    display: flex;
}

.text-danger >p{
    color: red;
}


.botao-copiar{
   text-align: center;
   margin-top: 10px;
}

.form-group-input-btn{
    align-items: center;
    display: inline-table;
    width: 700%;
}

#focusedInput{
    width: 100%;
}

.form-btn{
    display: flex;
    justify-content: end;
}

.btn btn-primary{
    width: 50%;
}

.btn btn-default{
    width: 50%;
}

.btn-copy {
    display: flex;
    margin-left: 45%;

}

.responsivo-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:50%
}

.lupa__img{
    width: 105%;
    height: 65%;
    margin-top: -12px;
}

.col-md-12{
    margin-top: -350px;
}

.navbar-collapse collapse{
    width: 50%;
}

.nav navbar__links{
    width: 50%;
}