@charset "UTF-8";

/* Typical Device Breakpoints
-------------------------------
Pequenas telas: até 600px
Celular: de 600 px até 768px
Tablet: 768px até 992
Desktop: 992px até 992px
Grndes telas: acima de 1200px
*/

@media only screen and (min-width: 1200px) {
   
    .col-md-12 {
        margin-top: -130px;

    }
}
    

 


